{%extends 'main/layout.html'%}
{%block title%}Контакты{%endblock%}
{%block card_header%}Социальные сети{%endblock%}
{%block card_text%} <li><a href="https://www.instagram.com/">Инстаграм</a></li>
            <li><a href="https://web.telegram.org/">Телеграм</a></li>
            <li><a href="https://www.kufar.by/">Куфар</a></li>{%endblock%}
{%block card_card%}
<main class="container">
<div class="card">
  <div class="card-header">
    Телефон и Email
  </div>
  <div class="card-body">
    <p class="card-text"><li><a>+375239362452</a></li>
            <li><a>1Texnomain.ru</a></li>
  </div>
{%endblock%}