{%extends 'main/layout.html'%}
{%block title%}Доставка{%endblock%}
{%block card_header%}
Пункты выдачи заказов
{%endblock%}
{%block card_text%}Доставка в пункт выдачи заказов бесплатная. Когда товар будет готов к выдаче, вам придет СМС-оповещение
Только для товаров весом 30 кг и менее.
Срок хранения заказа – 3 рабочих дня. По истечении этого срока заказ будет аннулирован{%endblock%}
{%block card_card%}
<main class="container">
<div class="card">
  <div class="card-header">
    Пункты выдачи
  </div>
  <div class="card-body">
    <p class="card-text">Наши пункты выдачи:
• г. Минск, ул. Сурганова, 27
• г. Минск, ул. Уманская, 54, ТЦ «Глобо», 2-й этаж
• г. Брест, пр. Машерова, 96
• г. Гомель, пр. Речицкий 5В, 2-й этаж, пав. 110</p>
  </div>
{%endblock%}