{%extends 'main/layout.html'%}
{%block title%}Информация{%endblock%}
{%block card_header%}О компании{%endblock%}
{%block card_text%}1Техно – интернет-магазин электроники, продажа бу и новой техники, скупка гаджетов. Именно так мы представлены на крупнейших торговых площадках Беларуси. Сейчас на сайте более 10 товаров, среди которых компьютеры, телефоны, аксесуары для телефонов и многое другое.{%endblock%}
{%block card_card%}
<main class="container">
<div class="card">
  <div class="card-header">
    Трейдин и Cкупка
  </div>
  <div class="card-body">
    <p class="card-text">Переходите на вкладку 'Главная' ищите Трейдин или же Скупка нажимаете, заполняете поля для данных, после менеджер вам наберёт.</p>
  </div>
{%endblock%}
