{%extends 'main/layout.html'%}
{%block title%}Оплата{%endblock%}
{%block card_header%}Оплата наличными{%endblock%}
{%block card_text%}Независимо от того, какой способ вы предпочтёте, расчёт возможен исключительно в белорусских рублях. Оплатить заказ можно у курьера после доставки товара или в момент получения в пункте самовывоза.{%endblock%}
{%block card_card%}
<main class="container">
<div class="card">
  <div class="card-header">
    Оплата картой
  </div>
  <div class="card-body">
    <p class="card-text">Вы можете оплатить товары картой онлайн при оформлении заказа через корзину на сайте, с помощью терминала у курьера либо в пункте самовывоза. К оплате принимаются карты международных платежных систем VISA, MasterCard, а также платежной системы БЕЛКАРТ. Оплату можно совершить посредством сервисов Apple Pay, Samsung Pay. Если вы заказали товар с доставкой, предупредите, пожалуйста, заранее оператора о том, что намерены рассчитаться картой. Подробнее про оплату онлайн здесь.</p>
  </div>
{%endblock%}